$<%= darkTextVariable %>: rgba(black, 0.87);
$<%= lightTextVariable %>: white;

$<%= dasherize(name) %>-mat-primary: (
  50: <%= primaryPalette['50'] %>,
  100: <%= primaryPalette['100'] %>,
  200: <%= primaryPalette['200'] %>,
  300: <%= primaryPalette['300'] %>,
  400: <%= primaryPalette['400'] %>,
  500: <%= primaryPalette['500'] %>,
  600: <%= primaryPalette['600'] %>,
  700: <%= primaryPalette['700'] %>,
  800: <%= primaryPalette['800'] %>,
  900: <%= primaryPalette['900'] %>,
  A100: <%= primaryPalette['A100'] %>,
  A200: <%= primaryPalette['A200'] %>,
  A400: <%= primaryPalette['A400'] %>,
  A700: <%= primaryPalette['A700'] %>,
  contrast: (
    50:  $<%= primaryPalette['contrast']['50'] ? darkTextVariable : lightTextVariable %>,
    100: $<%= primaryPalette['contrast']['100'] ? darkTextVariable : lightTextVariable %>,
    200: $<%= primaryPalette['contrast']['200'] ? darkTextVariable : lightTextVariable %>,
    300: $<%= primaryPalette['contrast']['300'] ? darkTextVariable : lightTextVariable %>,
    400: $<%= primaryPalette['contrast']['400'] ? darkTextVariable : lightTextVariable %>,
    500: $<%= primaryPalette['contrast']['500'] ? darkTextVariable : lightTextVariable %>,
    600: $<%= primaryPalette['contrast']['600'] ? darkTextVariable : lightTextVariable %>,
    700: $<%= primaryPalette['contrast']['700'] ? darkTextVariable : lightTextVariable %>,
    800: $<%= primaryPalette['contrast']['800'] ? darkTextVariable : lightTextVariable %>,
    900: $<%= primaryPalette['contrast']['900'] ? darkTextVariable : lightTextVariable %>,
    A100: $<%= primaryPalette['contrast']['A100'] ? darkTextVariable : lightTextVariable %>,
    A200: $<%= primaryPalette['contrast']['A200'] ? darkTextVariable : lightTextVariable %>,
    A400: $<%= primaryPalette['contrast']['A400'] ? darkTextVariable : lightTextVariable %>,
    A700: $<%= primaryPalette['contrast']['A700'] ? darkTextVariable : lightTextVariable %>,
  )
);

$<%= dasherize(name) %>-mat-accent: (
  50: <%= accentPalette['50'] %>,
  100: <%= accentPalette['100'] %>,
  200: <%= accentPalette['200'] %>,
  300: <%= accentPalette['300'] %>,
  400: <%= accentPalette['400'] %>,
  500: <%= accentPalette['500'] %>,
  600: <%= accentPalette['600'] %>,
  700: <%= accentPalette['700'] %>,
  800: <%= accentPalette['800'] %>,
  900: <%= accentPalette['900'] %>,
  A100: <%= accentPalette['A100'] %>,
  A200: <%= accentPalette['A200'] %>,
  A400: <%= accentPalette['A400'] %>,
  A700: <%= accentPalette['A700'] %>,
  contrast: (
    50:  $<%= accentPalette['contrast']['50'] ? darkTextVariable : lightTextVariable %>,
    100: $<%= accentPalette['contrast']['100'] ? darkTextVariable : lightTextVariable %>,
    200: $<%= accentPalette['contrast']['200'] ? darkTextVariable : lightTextVariable %>,
    300: $<%= accentPalette['contrast']['300'] ? darkTextVariable : lightTextVariable %>,
    400: $<%= accentPalette['contrast']['400'] ? darkTextVariable : lightTextVariable %>,
    500: $<%= accentPalette['contrast']['500'] ? darkTextVariable : lightTextVariable %>,
    600: $<%= accentPalette['contrast']['600'] ? darkTextVariable : lightTextVariable %>,
    700: $<%= accentPalette['contrast']['700'] ? darkTextVariable : lightTextVariable %>,
    800: $<%= accentPalette['contrast']['800'] ? darkTextVariable : lightTextVariable %>,
    900: $<%= accentPalette['contrast']['900'] ? darkTextVariable : lightTextVariable %>,
    A100: $<%= accentPalette['contrast']['A100'] ? darkTextVariable : lightTextVariable %>,
    A200: $<%= accentPalette['contrast']['A200'] ? darkTextVariable : lightTextVariable %>,
    A400: $<%= accentPalette['contrast']['A400'] ? darkTextVariable : lightTextVariable %>,
    A700: $<%= accentPalette['contrast']['A700'] ? darkTextVariable : lightTextVariable %>,
  )
);

$<%= dasherize(name) %>-mat-warn: (
  50: <%= warnPalette['50'] %>,
  100: <%= warnPalette['100'] %>,
  200: <%= warnPalette['200'] %>,
  300: <%= warnPalette['300'] %>,
  400: <%= warnPalette['400'] %>,
  500: <%= warnPalette['500'] %>,
  600: <%= warnPalette['600'] %>,
  700: <%= warnPalette['700'] %>,
  800: <%= warnPalette['800'] %>,
  900: <%= warnPalette['900'] %>,
  A100: <%= warnPalette['A100'] %>,
  A200: <%= warnPalette['A200'] %>,
  A400: <%= warnPalette['A400'] %>,
  A700: <%= warnPalette['A700'] %>,
  contrast: (
    50:  $<%= warnPalette['contrast']['50'] ? darkTextVariable : lightTextVariable %>,
    100: $<%= warnPalette['contrast']['100'] ? darkTextVariable : lightTextVariable %>,
    200: $<%= warnPalette['contrast']['200'] ? darkTextVariable : lightTextVariable %>,
    300: $<%= warnPalette['contrast']['300'] ? darkTextVariable : lightTextVariable %>,
    400: $<%= warnPalette['contrast']['400'] ? darkTextVariable : lightTextVariable %>,
    500: $<%= warnPalette['contrast']['500'] ? darkTextVariable : lightTextVariable %>,
    600: $<%= warnPalette['contrast']['600'] ? darkTextVariable : lightTextVariable %>,
    700: $<%= warnPalette['contrast']['700'] ? darkTextVariable : lightTextVariable %>,
    800: $<%= warnPalette['contrast']['800'] ? darkTextVariable : lightTextVariable %>,
    900: $<%= warnPalette['contrast']['900'] ? darkTextVariable : lightTextVariable %>,
    A100: $<%= warnPalette['contrast']['A100'] ? darkTextVariable : lightTextVariable %>,
    A200: $<%= warnPalette['contrast']['A200'] ? darkTextVariable : lightTextVariable %>,
    A400: $<%= warnPalette['contrast']['A400'] ? darkTextVariable : lightTextVariable %>,
    A700: $<%= warnPalette['contrast']['A700'] ? darkTextVariable : lightTextVariable %>,
  )
);